@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:wght@400;700&display=swap');

:root {
    /* header */    
    --small-profile-img: 50px;
    --large-profile-img: 80px;
    --button-bg: #1592d4;

    /* sidebar */
    --sidebar-bg: #1592d4;
    --icon-size: 30px;

    --card-padding: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;    
    font-family: "Roboto", sans-serif;    
}

.dashboard {    
    display: grid;
    grid-template-columns: 0.6fr 4fr;
    grid-template-rows: 0.2fr 1fr;
    height: 100%;    
}

aside {
    background-color: #1992d4;
    grid-row: 1 / -1;    
}

/* header */
header {
    grid-column: 2 / -1;
    padding: 15px 80px 0 40px;
    border-bottom: 3px solid lightgrey;
}

.header-top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

input {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #e2e8f0;    
    flex: 1;
    margin-right: 100px;
}

img {
    border-radius: 50%;
}

img.small-profile {
    width: var(--small-profile-img);
    height: var(--small-profile-img);
}

img.large-profile {
    width: var(--large-profile-img);
    height: var(--large-profile-img);
}

.fullname,
.profile-details {
    font-weight: bold;
}

.header-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.profile-details {
    flex: 1;
}

.profile-details .username {    
    font-size: 1.3rem;    
}

button {
    border-radius: 20px;
    border: none;
    padding: 10px 30px;
    background-color: var(--button-bg);
    color: white;
    font-weight: bold;
}

/* main */
main {
    background-color: #e2e8f0;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    padding: 20px;    
    
    display: grid;    
    grid-template-columns: repeat(9, auto);
    grid-template-rows: auto repeat(4, 1fr) auto repeat(4, 1fr);
    gap: 10px 20px;    
}

.projects {
    grid-column: 1 / 7;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.project {
    background-color: #ffffff;
    border-radius: 5px;
    border-left: 8px solid #f0b429;
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.project-icons {
    display: flex;
    justify-content: end;    
}

.project-icons i {
    margin-right: 15px;
}

.announcements-header {
    grid-row: 1;
    grid-column: 7;
}

.announcements {   
    border-radius: 5px;
    background-color: #ffffff;
    grid-row: 2 / 6;
    grid-column: 7 / 9;
    padding: var(--card-padding);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.announcements p:nth-of-type(1),
.announcements p:nth-of-type(2) {    
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.trending-header {
    grid-column: 7;
    grid-row: 6;
}

.trends {
    background-color: #ffffff;
    border-radius: 5px;
    grid-row: 7 / -1;
    grid-column: 7 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--card-padding);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.user {
    display: flex;
}

.user-details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trends img {
    width: var(--small-profile-img);
    height: var(--small-profile-img);
}